@use "variables" as *;
@use "../media/media" as *;
.container {
	@include grid(3);
	@include mq(tablet) {
		
			background-color: red;
		
	}
}
$color: rgb(0, 102, 255);
@for $i from 1 to 6 {
	li:nth-child(#{$i}) {
		font-size: $i * 16px;
		$_color: darken($color, $i * 15);
		background-color: $_color; 
		color: lighten($_color, $i * 15);
	} 
}

:root {
@for $i from 0 to 10 {
	$_color: darken($color, $i * 5);
	$complementary: complement($_color);
	--clr-#{$i}: #{$_color};
	--clr-complementary-#{$i}: #{$complementary};
	

	}
}
/* map */
// map
$icons: (
	"eye": "\f112",
	"start": "\f12e",
	"stop": "\f12f"
);

@each $nombre,
$glyph in $icons {
	.icon-#{$nombre}::before {
		content: $glyph;
	}
}
$sizes: 24px, 32px,  64px;

@each $size in $sizes {
	.icon::before {
		width: $size;
	}
}