@use "variables" as *;
@use "../media/media" as *;
.container {
	@include grid(3);
	@include mq(tablet) {
		
			background-color: red;
		
	}
}

@for $i from 1 to 5 {
	li::nth-child(#{$i}) {
		font-size: $i * 8px;
		background-color: darken(red, $i * 10); 
	} 
}
$color: red;
:root {
@for $i from 0 to 10 {
	$_color: darken($color, $i * 5);
	$complementary: complement($_color);
	--clr-#{$i}: #{$_color};
	--clr-complementary-#{$i}: #{$complementary};
	

	}
}
/* map */
// map
$icons: (
	"eye": "\f112",
	"start": "\f12e",
	"stop": "\f12f"
);

@each $nombre,
$glyph in $icons {
	.icon-#{$nombre}:before {
		content: $glyph;
	}
}
$sizes: 24px, 32px, 64px;

@each $size in $sizes {
	.icon:before {
		width: $size;
	}
}